@{
    ViewData["Title"] = "ReportList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Reports</h3>
</div>
<br />
<a href="/Report/StaticExcel/" class="btn btn-warning">Static Excel List</a>
<br />
<a href="/Report/DynamicExcel/" class="btn btn-info">Dynamic Excel List</a>
<br />
<a href="/Report/StaticPdfReport/" class="btn btn-primary">Static Excel List</a>
