@model InstructorAddDTO
@{
    ViewData["Title"] = "AddInstructor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddInstructor", "Instructor", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">New Instructor</h4>
                <form class="forms-sample">
                    <br />
                    <label>Name</label>
                    <input type="text" class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <br />
                    <label>Surname</label>
                    <input type="text" class="form-control" asp-for="Surname" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                    <br />
                    <label>Title</label>
                    <input type="text" class="form-control" asp-for="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <br />
                    <label>Description</label>
                    <input type="text" class="form-control" asp-for="Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <br />
                    <label>GitHub</label>
                    <input type="text" class="form-control" asp-for="GithubUrl" />
                    <span asp-validation-for="GithubUrl" class="text-danger"></span>
                    <br />
                    <label>Linkedln</label>
                    <input type="text" class="form-control" asp-for="LinkedinUrl" />
                    <span asp-validation-for="LinkedinUrl" class="text-danger"></span>
                    <br />
                    <label>Image</label>
                    <input type="text" class="form-control" asp-for="Image" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                    <br />
                    <button class="btn btn-info">Save</button>
                </form>
            </div>
        </div>
    </div>
}