@using EntityLayer.Concrete
@model List<Assignment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">My Assignments</h4>
            <p class="card-description">
                You can see all of your assignments and complete the ones you have done.
            </p>

            <button type="button" id="btngetlistall" class="btn btn-outline-primary">Click to See All Assignments</button>
            @*<button type="button" id="btndelete" class="btn btn-danger">Complete</button>
                <button type="button" id="btnadd" class="btn btn-success">Save</button> col-md-6*@

            <br />
            <div class="p-2" id="listassignment">

            </div>

            <div class="p-2" id="listbyidassignment">

            </div>

            <div class="input-group mb-2 mr-sm-2">

                <input type="text" class="form-control" id="inpexpid" placeholder="ID of your Assignment goes here" /> <p>&nbsp;</p> <button type="button" id="btndelete" class="btn btn-success">Complete</button>
                <br />
                @*<button type="button" id="btndelete" class="btn btn-success">Complete</button>*@
            </div>
            <br />
        </div>
    </div>
</div>


                    @section scripts
        {
                        <script>$("#btngetlistall").click(function () {
                                $.ajax({
                                    contentType: "application/json",
                                    dataType: "json",
                                    type: "Get",
                                    url: "/Assignment/ListAssignment/",

                                    success: function (funk) {
                                        let values = jQuery.parseJSON(funk);
                                        console.log(values);

                                        let htmlst = "<table class=table table-bordered> <tr> <th> ID </th> <th> Title </th> <th> Deadline </th> </tr>";
                                        $.each(values, (index, value) => {
                                            htmlst += `<tr> <td>${value.AssignmentID}</td> <td>${value.Title}</td> <td>${value.Deadline}</td> </tr>`
                                        });
                                        htmlst += "</table>";
                                        $("#listassignment").html(htmlst);
                                    }
                                });
                            });

                            $("#btnadd").click(function () {
                                let values = {
                                    Name: $("#inpname").val(),
                                    Date: $("#inpdate").val()
                                };

                                $.ajax({
                                    type: "Post",
                                    url: "/Assignment/AddAssignment/",
                                    data: values,
                                    success: function (funk1) {
                                        let result = jQuery.parseJSON(funk1);
                                        alert("Successfully added!");
                                    }
                                });
                            });

                            $("#btnid").click(x => {
                                let id = $("#inpid").val();

                                $.ajax({
                                    contentType: "application/json",
                                    dataType: "json",
                                    type: "Get",
                                    url: "/Assignment/GetById/",
                                    data: { ExperienceID: id },
                                    success: function (funk2) {
                                        let result = jQuery.parseJSON(funk2);
                                        console.log(result);
                                        let htmlstr = `<table class=table table-hover> <tr> <th>Deneyim ID</th> <td>${result.AssignmentID}</td></tr> <tr> <th> Deneyim Başlığı </th> <td> ${result.Name}</td> </tr> </table>`;
                                        $("#listbyidassignment").html(htmlstr);
                                    }
                                });

                            });

                            $("#btndelete").click(x => {
                                let id = $("#inpexpid").val();
                                $.ajax({
                                    url: "/Assignment/DeleteAssignment/" + id,
                                    type: "post",
                                    contentType: "application/json",
                                    dataType: "json",
                                    success: function (funk3) {
                                        loadData();
                                    }
                                });
                            });

                            $("#btnupdate").click(function () {
                                let values = {
                                    ExperienceID: $("#inpeditexpid").val(),
                                    Name: $("#inpeditexpname").val()
                                };

                                $.ajax({
                                    type: "post",
                                    url: "/Assignment/UpdateAssignment/",
                                    data: values,
                                    success: function (func4) {
                                        alert("Successfully updated!");
                                    }
                                });
                            });</script>

                        <script src="~/lib/jquery/dist/jquery.js"></script>
                    }
                    
