<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Instructor/InstructorDashboard/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Instructor/Dashboard/Index/">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">My Courses</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Course Documentations</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="icon-contract menu-icon"></i>
                <span class="menu-title">My Students</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Instructor/InstructorAssignment/GiveAssignment/">
                <i class="icon-columns menu-icon"></i>
                <span class="menu-title">Give Assignment</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="ti-notepad menu-icon"></i>
                <span class="menu-title">Inbox</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="ti-agenda menu-icon"></i>
                <span class="menu-title">Outbox</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="ti-cloud menu-icon"></i>
                <span class="menu-title">New Message</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Instructor/InstructorProfile/Index/">
                <i class="icon-contract menu-icon"></i>
                <span class="menu-title">Profile</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="//Instructor/InstructorProfile/Index/">
                <i class="icon-ban menu-icon"></i>
                <span class="menu-title">Settings</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/LogOut/">
                <i class="ti-power-off menu-icon"></i>
                <span class="menu-title">Log out</span>
            </a>
        </li>
    </ul>
</nav>
